$font-color: #616d8a;
$font: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$yellow: #ffd43b;
$border-yellow: #fab005;
$blue: #74c0fc;
$border-blue: #146ebe;
$green: #63e6be;
$border-green: #0ca678;
$gray: #f0f1f3;
$dark-gray: #183153;