.C{background-color: yellow;
    display: inline-block;
    width: fit-content;
    height: 50px;
    border: 5px solid red
}

.A {
    position: relative;
    display: inline;
    top: .625rem;
    margin: .31rem}

.B {position: relative;
    display: inline;
    bottom: .625rem;
    margin: .31rem}

