body{font-family: Arial;}
.box{
    margin-right: 40%;
    padding: 1rem; 
    background-color: bisque;
    border: 1px solid black;}
.box-content{
    border: 0.5rem solid white;}

.inner-box{
    border: 1px solid black;
    margin: 1rem;
    background-color: white;}

.super-inner{
    border: 1px solid black;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: bisque;}